.consent-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.legal {
  text-align: left;
  margin: 2rem 0;
}

.consent-form {
  margin: 2rem 0;
}

.consent-form iframe {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.btn-primary {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #62b95a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.btn-primary:hover {
  background-color: #4b8d45;
}

.btn-danger {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #dd1c1c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.btn-danger:hover {
  background-color: #b41818;
}