.app {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ensure fullscreen mode uses all available space */
.app:fullscreen {
  width: 100%;
  height: 100%;
}

.decline-message {
  padding: 2rem;
  text-align: center;
}

/* Add more styles as needed */ 